@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
/* Gotham Font Setup */
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Black.TTF') format('truetype');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.TTF') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}
* {
	font-family: 'Gotham', Arial, sans-serif !important;
}
